@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&display=swap');
/* CSS RESET */
*
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    color: #312A26;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Oswald', sans-serif;
}

p,input,label,span,a
{
    font-family: 'Open Sans', sans-serif;
}


body
{
width: 100%;
}